table{
    width: 98vw;
}

#instrctnsCell, #regsCell, #contrlPnlCell {
    vertical-align: top;
    height: 92vh;
    overflow-y: scroll;
}

#dramCell, #cacheCell {
    vertical-align: top;
    height: 35vh;
    overflow-y: scroll;
}

.cntntCell {
    width: 25%;
}